# Learning Objectives
In this notebook, you will learn Spark Dataframe APIs.

# Question List

Solve the following questions using Spark Dataframe APIs

### Join

1. easy - https://pgexercises.com/questions/joins/simplejoin.html
2. easy - https://pgexercises.com/questions/joins/simplejoin2.html
3. easy - https://pgexercises.com/questions/joins/self2.html 
4. medium - https://pgexercises.com/questions/joins/threejoin.html (three join)
5. medium - https://pgexercises.com/questions/joins/sub.html (subquery and join)

### Aggregation

1. easy - https://pgexercises.com/questions/aggregates/count3.html Group by order by
2. easy - https://pgexercises.com/questions/aggregates/fachours.html group by order by
3. easy - https://pgexercises.com/questions/aggregates/fachoursbymonth.html group by with condition 
4. easy - https://pgexercises.com/questions/aggregates/fachoursbymonth2.html group by multi col
5. easy - https://pgexercises.com/questions/aggregates/members1.html count distinct
6. med - https://pgexercises.com/questions/aggregates/nbooking.html group by multiple cols, join

### String & Date

1. easy - https://pgexercises.com/questions/string/concat.html format string
2. easy - https://pgexercises.com/questions/string/case.html WHERE + string function
3. easy - https://pgexercises.com/questions/string/reg.html WHERE + string function
4. easy - https://pgexercises.com/questions/string/substr.html group by, substr
5. easy - https://pgexercises.com/questions/date/series.html generate ts
6. easy - https://pgexercises.com/questions/date/bookingspermonth.html extract month from ts

### Question

How can you produce a list of the start times for bookings by members named 'David Farrell'?

https://pgexercises.com/questions/joins/simplejoin.html

In [0]:
# Write you solution here
# hint: you might need to re-run `0 - ETL pgexercieses CSV files` notebook to init tables

df = spark.sql("select * from bookings")
# display(df)

In [0]:
#1. Simple Join 1
david_farrell_bookings = spark.sql("""
    SELECT starttime
    FROM bookings bks
    JOIN members mems ON bks.memid = mems.memid
    WHERE mems.firstname = 'David' AND mems.surname = 'Farrell'
""")
display(david_farrell_bookings)

starttime
2012-09-18T09:00:00.000+0000
2012-09-18T17:30:00.000+0000
2012-09-18T13:30:00.000+0000
2012-09-18T20:00:00.000+0000
2012-09-19T09:30:00.000+0000
2012-09-19T15:00:00.000+0000
2012-09-19T12:00:00.000+0000
2012-09-20T15:30:00.000+0000
2012-09-20T11:30:00.000+0000
2012-09-20T14:00:00.000+0000
2012-09-21T10:30:00.000+0000
2012-09-21T14:00:00.000+0000
2012-09-22T08:30:00.000+0000
2012-09-22T17:00:00.000+0000
2012-09-23T08:30:00.000+0000
2012-09-23T17:30:00.000+0000
2012-09-23T19:00:00.000+0000
2012-09-24T08:00:00.000+0000
2012-09-24T16:30:00.000+0000
2012-09-24T12:30:00.000+0000
2012-09-25T15:30:00.000+0000
2012-09-25T17:00:00.000+0000
2012-09-26T13:00:00.000+0000
2012-09-26T17:00:00.000+0000
2012-09-27T08:00:00.000+0000
2012-09-28T11:30:00.000+0000
2012-09-28T09:30:00.000+0000
2012-09-28T13:00:00.000+0000
2012-09-29T16:00:00.000+0000
2012-09-29T10:30:00.000+0000
2012-09-29T13:30:00.000+0000
2012-09-29T14:30:00.000+0000
2012-09-29T17:30:00.000+0000
2012-09-30T14:30:00.000+0000

In [0]:
#2. Simple Join 2
tennis_bookings = spark.sql("""
    SELECT bks.starttime, facs.name AS facility
    FROM bookings bks
    JOIN facilities facs ON bks.facid = facs.facid
    WHERE facs.name LIKE 'Tennis Court%' AND bks.starttime >= '2012-09-21'
    ORDER BY bks.starttime
""")
display(tennis_bookings)

starttime,facility
2012-09-21T08:00:00.000+0000,Tennis Court 1
2012-09-21T08:00:00.000+0000,Tennis Court 2
2012-09-21T09:30:00.000+0000,Tennis Court 1
2012-09-21T10:00:00.000+0000,Tennis Court 2
2012-09-21T11:30:00.000+0000,Tennis Court 2
2012-09-21T12:00:00.000+0000,Tennis Court 1
2012-09-21T13:30:00.000+0000,Tennis Court 1
2012-09-21T14:00:00.000+0000,Tennis Court 2
2012-09-21T15:30:00.000+0000,Tennis Court 1
2012-09-21T16:00:00.000+0000,Tennis Court 2
2012-09-21T17:00:00.000+0000,Tennis Court 1
2012-09-21T18:00:00.000+0000,Tennis Court 2
2012-09-22T08:30:00.000+0000,Tennis Court 1
2012-09-22T09:00:00.000+0000,Tennis Court 2
2012-09-22T10:00:00.000+0000,Tennis Court 1
2012-09-22T11:00:00.000+0000,Tennis Court 2
2012-09-22T12:30:00.000+0000,Tennis Court 2
2012-09-22T13:00:00.000+0000,Tennis Court 1
2012-09-22T14:00:00.000+0000,Tennis Court 2
2012-09-22T15:00:00.000+0000,Tennis Court 1
2012-09-22T16:00:00.000+0000,Tennis Court 2
2012-09-22T16:30:00.000+0000,Tennis Court 1
2012-09-22T17:30:00.000+0000,Tennis Court 2
2012-09-22T18:00:00.000+0000,Tennis Court 1
2012-09-23T08:00:00.000+0000,Tennis Court 1
2012-09-23T08:30:00.000+0000,Tennis Court 2
2012-09-23T09:30:00.000+0000,Tennis Court 1
2012-09-23T10:30:00.000+0000,Tennis Court 2
2012-09-23T11:00:00.000+0000,Tennis Court 1
2012-09-23T12:00:00.000+0000,Tennis Court 2
2012-09-23T12:30:00.000+0000,Tennis Court 1
2012-09-23T13:30:00.000+0000,Tennis Court 2
2012-09-23T14:00:00.000+0000,Tennis Court 1
2012-09-23T15:00:00.000+0000,Tennis Court 2
2012-09-23T16:30:00.000+0000,Tennis Court 1
2012-09-23T16:30:00.000+0000,Tennis Court 2
2012-09-23T18:00:00.000+0000,Tennis Court 1
2012-09-23T18:00:00.000+0000,Tennis Court 2
2012-09-24T08:00:00.000+0000,Tennis Court 1
2012-09-24T08:00:00.000+0000,Tennis Court 2
2012-09-24T09:30:00.000+0000,Tennis Court 2
2012-09-24T12:00:00.000+0000,Tennis Court 2
2012-09-24T12:30:00.000+0000,Tennis Court 1
2012-09-24T14:00:00.000+0000,Tennis Court 1
2012-09-24T15:00:00.000+0000,Tennis Court 2
2012-09-24T15:30:00.000+0000,Tennis Court 1
2012-09-24T16:30:00.000+0000,Tennis Court 2
2012-09-24T18:30:00.000+0000,Tennis Court 1
2012-09-24T19:00:00.000+0000,Tennis Court 2
2012-09-25T08:00:00.000+0000,Tennis Court 1
2012-09-25T08:00:00.000+0000,Tennis Court 2
2012-09-25T09:30:00.000+0000,Tennis Court 1
2012-09-25T10:00:00.000+0000,Tennis Court 2
2012-09-25T11:30:00.000+0000,Tennis Court 2
2012-09-25T13:00:00.000+0000,Tennis Court 1
2012-09-25T13:00:00.000+0000,Tennis Court 2
2012-09-25T14:30:00.000+0000,Tennis Court 2
2012-09-25T15:00:00.000+0000,Tennis Court 1
2012-09-25T16:30:00.000+0000,Tennis Court 2
2012-09-25T18:00:00.000+0000,Tennis Court 1
2012-09-25T18:30:00.000+0000,Tennis Court 2
2012-09-26T08:00:00.000+0000,Tennis Court 1
2012-09-26T08:00:00.000+0000,Tennis Court 2
2012-09-26T09:30:00.000+0000,Tennis Court 1
2012-09-26T10:30:00.000+0000,Tennis Court 2
2012-09-26T11:00:00.000+0000,Tennis Court 1
2012-09-26T12:00:00.000+0000,Tennis Court 2
2012-09-26T13:30:00.000+0000,Tennis Court 1
2012-09-26T14:00:00.000+0000,Tennis Court 2
2012-09-26T15:00:00.000+0000,Tennis Court 1
2012-09-26T15:30:00.000+0000,Tennis Court 2
2012-09-26T18:00:00.000+0000,Tennis Court 1
2012-09-26T18:30:00.000+0000,Tennis Court 2
2012-09-27T08:00:00.000+0000,Tennis Court 2
2012-09-27T09:00:00.000+0000,Tennis Court 1
2012-09-27T11:00:00.000+0000,Tennis Court 1
2012-09-27T12:30:00.000+0000,Tennis Court 2
2012-09-27T13:00:00.000+0000,Tennis Court 1
2012-09-27T14:30:00.000+0000,Tennis Court 2
2012-09-27T16:00:00.000+0000,Tennis Court 1
2012-09-27T16:00:00.000+0000,Tennis Court 2
2012-09-27T17:30:00.000+0000,Tennis Court 1
2012-09-27T17:30:00.000+0000,Tennis Court 2
2012-09-28T08:00:00.000+0000,Tennis Court 2
2012-09-28T08:30:00.000+0000,Tennis Court 1
2012-09-28T09:30:00.000+0000,Tennis Court 2
2012-09-28T10:00:00.000+0000,Tennis Court 1
2012-09-28T11:30:00.000+0000,Tennis Court 1
2012-09-28T13:00:00.000+0000,Tennis Court 1
2012-09-28T14:00:00.000+0000,Tennis Court 2
2012-09-28T15:00:00.000+0000,Tennis Court 1
2012-09-28T15:30:00.000+0000,Tennis Court 2
2012-09-28T17:00:00.000+0000,Tennis Court 1
2012-09-28T17:30:00.000+0000,Tennis Court 2
2012-09-29T08:00:00.000+0000,Tennis Court 1
2012-09-29T10:00:00.000+0000,Tennis Court 2
2012-09-29T11:30:00.000+0000,Tennis Court 1
2012-09-29T11:30:00.000+0000,Tennis Court 2
2012-09-29T13:00:00.000+0000,Tennis Court 2
2012-09-29T14:30:00.000+0000,Tennis Court 1
2012-09-29T14:30:00.000+0000,Tennis Court 2
2012-09-29T16:00:00.000+0000,Tennis Court 1
2012-09-29T16:00:00.000+0000,Tennis Court 2
2012-09-29T17:30:00.000+0000,Tennis Court 1
2012-09-29T18:00:00.000+0000,Tennis Court 2
2012-09-30T08:00:00.000+0000,Tennis Court 1
2012-09-30T08:30:00.000+0000,Tennis Court 2
2012-09-30T09:30:00.000+0000,Tennis Court 1
2012-09-30T10:00:00.000+0000,Tennis Court 2
2012-09-30T11:00:00.000+0000,Tennis Court 1
2012-09-30T11:30:00.000+0000,Tennis Court 2
2012-09-30T13:30:00.000+0000,Tennis Court 2
2012-09-30T14:00:00.000+0000,Tennis Court 1
2012-09-30T16:00:00.000+0000,Tennis Court 1
2012-09-30T16:30:00.000+0000,Tennis Court 2
2012-09-30T17:30:00.000+0000,Tennis Court 1
2012-09-30T18:30:00.000+0000,Tennis Court 2
2012-09-30T19:00:00.000+0000,Tennis Court 1

In [0]:
#3. Self Join
recommended_members = spark.sql("""
    SELECT 
        CONCAT(mems.firstname, ' ', mems.surname) AS member_name,
        CASE 
            WHEN mems.recommendedby IS NOT NULL THEN CONCAT(recs.firstname, ' ', recs.surname)
            ELSE 'No recommender'
        END AS recommender_name
    FROM members mems
    LEFT JOIN members recs ON mems.recommendedby = recs.memid
    ORDER BY mems.surname, mems.firstname
""")
display(recommended_members)

member_name,recommender_name
Florence Bader,Ponder Stibbons
Anne Baker,Ponder Stibbons
Timothy Baker,Jemima Farrell
Tim Boothe,Tim Rownam
Gerald Butters,Darren Smith
Joan Coplin,Timothy Baker
Erica Crumpet,Tracy Smith
Nancy Dare,Janice Joplette
David Farrell,No recommender
Jemima Farrell,No recommender
GUEST GUEST,No recommender
Matthew Genting,Gerald Butters
John Hunt,Millicent Purview
David Jones,Janice Joplette
Douglas Jones,David Jones
Janice Joplette,Darren Smith
Anna Mackenzie,Darren Smith
Charles Owen,Darren Smith
David Pinker,Jemima Farrell
Millicent Purview,Tracy Smith
Tim Rownam,No recommender
Henrietta Rumney,Matthew Genting
Ramnaresh Sarwin,Florence Bader
Darren Smith,No recommender
Darren Smith,No recommender
Jack Smith,Darren Smith
Tracy Smith,No recommender
Ponder Stibbons,Burton Tracy
Burton Tracy,No recommender
Hyacinth Tupperware,No recommender
Henry Worthington-Smyth,Tracy Smith

In [0]:
#4. Three Join
used_tennis_courts = spark.sql("""
    SELECT DISTINCT 
        CONCAT(mems.firstname, ' ', mems.surname) AS member_name,
        facs.name AS facility_name
    FROM bookings bks
    JOIN members mems ON bks.memid = mems.memid
    JOIN facilities facs ON bks.facid = facs.facid
    WHERE facs.name LIKE 'Tennis Court%'
    ORDER BY member_name, facility_name
""")
display(used_tennis_courts)

member_name,facility_name
Anne Baker,Tennis Court 1
Anne Baker,Tennis Court 2
Burton Tracy,Tennis Court 1
Burton Tracy,Tennis Court 2
Charles Owen,Tennis Court 1
Charles Owen,Tennis Court 2
Darren Smith,Tennis Court 2
David Farrell,Tennis Court 1
David Farrell,Tennis Court 2
David Jones,Tennis Court 1
David Jones,Tennis Court 2
David Pinker,Tennis Court 1
Douglas Jones,Tennis Court 1
Erica Crumpet,Tennis Court 1
Florence Bader,Tennis Court 1
Florence Bader,Tennis Court 2
GUEST GUEST,Tennis Court 1
GUEST GUEST,Tennis Court 2
Gerald Butters,Tennis Court 1
Gerald Butters,Tennis Court 2
Henrietta Rumney,Tennis Court 2
Jack Smith,Tennis Court 1
Jack Smith,Tennis Court 2
Janice Joplette,Tennis Court 1
Janice Joplette,Tennis Court 2
Jemima Farrell,Tennis Court 1
Jemima Farrell,Tennis Court 2
Joan Coplin,Tennis Court 1
John Hunt,Tennis Court 1
John Hunt,Tennis Court 2
Matthew Genting,Tennis Court 1
Millicent Purview,Tennis Court 2
Nancy Dare,Tennis Court 1
Nancy Dare,Tennis Court 2
Ponder Stibbons,Tennis Court 1
Ponder Stibbons,Tennis Court 2
Ramnaresh Sarwin,Tennis Court 1
Ramnaresh Sarwin,Tennis Court 2
Tim Boothe,Tennis Court 1
Tim Boothe,Tennis Court 2
Tim Rownam,Tennis Court 1
Tim Rownam,Tennis Court 2
Timothy Baker,Tennis Court 1
Timothy Baker,Tennis Court 2
Tracy Smith,Tennis Court 1
Tracy Smith,Tennis Court 2

In [0]:
#5. Subquery and join

recommenders_list = spark.sql("""
    SELECT DISTINCT
        CONCAT(mems.firstname, ' ', mems.surname) AS member_name,
        COALESCE(CONCAT(recs.firstname, ' ', recs.surname), 'No recommender') AS recommender_name
    FROM members mems
    LEFT JOIN members recs ON mems.recommendedby = recs.memid
    ORDER BY member_name
""")
display(recommenders_list)

member_name,recommender_name
Anna Mackenzie,Darren Smith
Anne Baker,Ponder Stibbons
Burton Tracy,No recommender
Charles Owen,Darren Smith
Darren Smith,No recommender
David Farrell,No recommender
David Jones,Janice Joplette
David Pinker,Jemima Farrell
Douglas Jones,David Jones
Erica Crumpet,Tracy Smith
Florence Bader,Ponder Stibbons
GUEST GUEST,No recommender
Gerald Butters,Darren Smith
Henrietta Rumney,Matthew Genting
Henry Worthington-Smyth,Tracy Smith
Hyacinth Tupperware,No recommender
Jack Smith,Darren Smith
Janice Joplette,Darren Smith
Jemima Farrell,No recommender
Joan Coplin,Timothy Baker
John Hunt,Millicent Purview
Matthew Genting,Gerald Butters
Millicent Purview,Tracy Smith
Nancy Dare,Janice Joplette
Ponder Stibbons,Burton Tracy
Ramnaresh Sarwin,Florence Bader
Tim Boothe,Tim Rownam
Tim Rownam,No recommender
Timothy Baker,Jemima Farrell
Tracy Smith,No recommender

AGGREGATION

In [0]:
#1 GROUP BY, ORDER BY

recommendation_count = spark.sql("""
    SELECT recommendedby AS member_id, COUNT(*) AS recommendation_count
    FROM members
    WHERE recommendedby IS NOT NULL
    GROUP BY recommendedby
    ORDER BY member_id
""")
display(recommendation_count)

member_id,recommendation_count
1,5
2,3
3,1
4,2
5,1
6,1
9,2
11,1
13,2
15,1
16,1
20,1
30,1

In [0]:
#2 

slots_per_facility = spark.sql("""
    SELECT facid AS facility_id, SUM(slots) AS total_slots
    FROM bookings
    GROUP BY facid
    ORDER BY facility_id
""")
display(slots_per_facility)

facility_id,total_slots
0,1320
1,1278
2,1209
3,830
4,1404
5,228
6,1104
7,908
8,911

In [0]:
#3 with condition

slots_per_facility_september = spark.sql("""
    SELECT facid AS facility_id, SUM(slots) AS total_slots
    FROM bookings
    WHERE starttime >= '2012-09-01' AND starttime < '2012-10-01'
    GROUP BY facid
    ORDER BY total_slots DESC
""")
display(slots_per_facility_september)

facility_id,total_slots
4,648
0,591
1,588
2,570
6,540
8,471
7,426
3,422
5,122

In [0]:
#4 
slots_per_facility_per_month_2012 = spark.sql("""
    SELECT facid AS facility_id, 
           YEAR(starttime) AS year, 
           MONTH(starttime) AS month, 
           SUM(slots) AS total_slots
    FROM bookings
    WHERE YEAR(starttime) = 2012
    GROUP BY facid, YEAR(starttime), MONTH(starttime)
    ORDER BY facility_id, month
""")
display(slots_per_facility_per_month_2012)

facility_id,year,month,total_slots
0,2012,7,270
0,2012,8,459
0,2012,9,591
1,2012,7,207
1,2012,8,483
1,2012,9,588
2,2012,7,180
2,2012,8,459
2,2012,9,570
3,2012,7,104
3,2012,8,304
3,2012,9,422
4,2012,7,264
4,2012,8,492
4,2012,9,648
5,2012,7,24
5,2012,8,82
5,2012,9,122
6,2012,7,164
6,2012,8,400
6,2012,9,540
7,2012,7,156
7,2012,8,326
7,2012,9,426
8,2012,7,117
8,2012,8,322
8,2012,9,471

In [0]:
#5 

total_members_with_bookings = spark.sql("""
    SELECT COUNT(DISTINCT memid) AS total_members
    FROM bookings
""")
total_members_with_bookings.show()

+-------------+
|total_members|
+-------------+
|           30|
+-------------+

In [0]:
#6

first_booking_after_september = spark.sql("""
    SELECT mems.memid, 
           CONCAT(mems.firstname, ' ', mems.surname) AS member_name, 
           MIN(bks.starttime) AS first_booking_date
    FROM members mems
    JOIN bookings bks ON mems.memid = bks.memid
    WHERE bks.starttime > '2012-09-01'
    GROUP BY mems.memid, mems.firstname, mems.surname
    ORDER BY mems.memid
""")
first_booking_after_september.show()

+-----+---------------+-------------------+
|memid|    member_name| first_booking_date|
+-----+---------------+-------------------+
|    0|    GUEST GUEST|2012-09-01 08:00:00|
|    1|   Darren Smith|2012-09-01 09:00:00|
|    2|    Tracy Smith|2012-09-01 11:30:00|
|    3|     Tim Rownam|2012-09-01 16:00:00|
|    4|Janice Joplette|2012-09-01 15:00:00|
|    5| Gerald Butters|2012-09-02 12:30:00|
|    6|   Burton Tracy|2012-09-01 15:00:00|
|    7|     Nancy Dare|2012-09-01 12:30:00|
|    8|     Tim Boothe|2012-09-01 08:30:00|
|    9|Ponder Stibbons|2012-09-01 11:00:00|
|   10|   Charles Owen|2012-09-01 11:00:00|
|   11|    David Jones|2012-09-01 09:30:00|
|   12|     Anne Baker|2012-09-01 14:30:00|
|   13| Jemima Farrell|2012-09-01 09:30:00|
|   14|     Jack Smith|2012-09-01 11:00:00|
|   15| Florence Bader|2012-09-01 10:30:00|
|   16|  Timothy Baker|2012-09-01 15:00:00|
|   17|   David Pinker|2012-09-01 08:30:00|
|   20|Matthew Genting|2012-09-01 18:00:00|
|   21| Anna Mackenzie|2012-09-01 08:30:00|
+-----+---------------+-------------------+
only showing top 20 rows

STRING AND DATE

In [0]:
#1 

members_names = spark.sql("""
    SELECT CONCAT(surname, ', ', firstname) AS name
    FROM members
""")
display(members_names)

name
"GUEST, GUEST"
"Smith, Darren"
"Smith, Tracy"
"Rownam, Tim"
"Joplette, Janice"
"Butters, Gerald"
"Tracy, Burton"
"Dare, Nancy"
"Boothe, Tim"
"Stibbons, Ponder"
"Owen, Charles"
"Jones, David"
"Baker, Anne"
"Farrell, Jemima"
"Smith, Jack"
"Bader, Florence"
"Baker, Timothy"
"Pinker, David"
"Genting, Matthew"
"Mackenzie, Anna"
"Coplin, Joan"
"Sarwin, Ramnaresh"
"Jones, Douglas"
"Rumney, Henrietta"
"Farrell, David"
"Worthington-Smyth, Henry"
"Purview, Millicent"
"Tupperware, Hyacinth"
"Hunt, John"
"Crumpet, Erica"
"Smith, Darren"

In [0]:
#2 

facilities_tennis = spark.sql("""
    SELECT *
    FROM facilities
    WHERE name ILIKE 'tennis%'
""")
display(facilities_tennis)

facid,name,membercost,guestcost,initialoutlay,monthlymaintenance
0,Tennis Court 1,5.00,25.00,10000.00,200.00
1,Tennis Court 2,5.00,25.00,8000.00,200.00

In [0]:
#3

telephone_with_parentheses = spark.sql("""
    SELECT memid, telephone
    FROM members
    WHERE telephone REGEXP '\\(.*\\)'
    ORDER BY memid
""")
display(telephone_with_parentheses)

memid,telephone
0,(000) 000-0000
1,555-555-5555
2,555-555-5555
3,(844) 693-0723
4,(833) 942-4710
5,(844) 078-4130
6,(822) 354-9973
7,(833) 776-4001
8,(811) 433-2547
9,(833) 160-3900
10,(855) 542-5251
11,(844) 536-8036
12,844-076-5141
13,(855) 016-0163
14,(822) 163-3254
15,(833) 499-3527
16,833-941-0824
17,811 409-6734
20,(811) 972-1377
21,(822) 661-2898
22,(822) 499-2232
24,(822) 413-1470
26,844 536-8036
27,(822) 989-8876
28,(855) 755-9876
29,(855) 894-3758
30,(855) 941-9786
33,(822) 665-5327
35,(899) 720-6978
36,(811) 732-4816
37,(822) 577-3541

In [0]:
#4 

surname_count = spark.sql("""
    SELECT UPPER(SUBSTRING(surname, 1, 1)) AS first_letter, COUNT(*) AS member_count
    FROM members
    GROUP BY first_letter
    ORDER BY first_letter
""")
display(surname_count)

first_letter,member_count
B,5
C,2
D,1
F,2
G,2
H,1
J,3
M,1
O,1
P,2
R,2
S,6
T,2
W,1

In [0]:
#5

october_dates = spark.sql("""
    WITH date_range AS (
        SELECT EXPLODE(SEQUENCE(DATE '2012-10-01', DATE '2012-10-31', INTERVAL 1 DAY)) AS date
    )
    SELECT date FROM date_range
    ORDER BY date
""")
display(october_dates)

date
2012-10-01
2012-10-02
2012-10-03
2012-10-04
2012-10-05
2012-10-06
2012-10-07
2012-10-08
2012-10-09
2012-10-10
2012-10-11
2012-10-12
2012-10-13
2012-10-14
2012-10-15
2012-10-16
2012-10-17
2012-10-18
2012-10-19
2012-10-20
2012-10-21
2012-10-22
2012-10-23
2012-10-24
2012-10-25
2012-10-26
2012-10-27
2012-10-28
2012-10-29
2012-10-30
2012-10-31

In [0]:
#6

booking_counts_by_month = spark.sql("""
    SELECT 
        DATE_FORMAT(starttime, 'yyyy-MM') AS month,
        COUNT(*) AS booking_count
    FROM bookings
    GROUP BY month
    ORDER BY month
""")
display(booking_counts_by_month)

month,booking_count
2012-07,658
2012-08,1472
2012-09,1913
2013-01,1

### Question