# Learning Objectives

In this notebook, you will craft sophisticated ETL jobs that interface with a variety of common data sources, such as 
- REST APIs (HTTP endpoints)
- RDBMS
- Hive tables (managed tables)
- Various file formats (csv, json, parquet, etc.)


# Interview Questions

As you progress through the practice, attempt to answer the following questions:

## Columnar File
- What is a columnar file format and what advantages does it offer?
  - A columnar file format stored data by columns instead of rows. This means all values from the same column are stored together on disk, which is different from row-based formats like (csv or json) that store entire records together. 
- Why is Parquet frequently used with Spark and how does it function?
  - Parquet is frequently used with Spark because it's a columnar, compressed and efficient file format that integrates seamlessly with Spark execution engine

- How do you read/write data from/to a Parquet file using a DataFrame?
  - To read and write to a Parquet file using a Spark DataFrame.
  Read:

  df = spark.read.parquet("path/to/parquet_file")

  Write:

  df.write.parquet("path/to/output_directory")

## Partitions
- How do you save data to a file system by partitions? (Hint: Provide the code)

  - df.write.partitionBy("column_name").parquet("path/to/output")
- How and why can partitions reduce query execution time? (Hint: Give an example)

  - Partitions reduce query execution time by reading only the relevant data, skipping entire folders based on partitions columns. 
  - Spark uses partition pruning - it scan only the files matching the filter condition on partitioned columns, reducing I/O and processing. 

## JDBC and RDBMS
- How do you load data from an RDBMS into Spark? (Hint: Discuss the steps and JDBC)
- Set JDBC parameters: 
 - URL, driver, table name, username, password
 - Use read.format("jdbc") with options

  df = spark.read \
      .format("jdbc") \
      .option("url", "jdbc:postgresql://hostname:5432/dbname") \
      .option("dbtable", "schema.table_name") \
      .option("user", "username") \
      .option("password", "password") \
      .option("driver", "org.postgresql.Driver") \
      .load()

## REST API and HTTP Requests
- How can Spark be used to fetch data from a REST API? (Hint: Discuss making API requests)

- Spark doesnt natively support REST APIs, but you can fetch data using standard Python or Scala code, then convert it into a DataFrame. 

- Steps:
 1. Make API requests (Python) or http.client(Scala)
 2. Parse the JSON/XML response
 3. Convert parsed data to a DataFrame
 4. Process with Spark

## ETL Job One: Parquet file
### Extract
Extract data from the managed tables (e.g. `bookings_csv`, `members_csv`, and `facilities_csv`)

### Transform
Data transformation requirements https://pgexercises.com/questions/aggregates/fachoursbymonth.html

### Load
Load data into a parquet file

### What is Parquet? 

Columnar files are an important technique for optimizing Spark queries. Additionally, they are often tested in interviews.
- https://www.youtube.com/watch?v=KLFadWdomyI
- https://www.databricks.com/glossary/what-is-parquet

In [0]:
from pyspark.sql.functions import col, sum

# Load data
bookings_df = spark.sql("SELECT * FROM bookings")
facilities_df = spark.sql("SELECT * FROM facilities")

# Filtering bookings for September 2012 and aggregating by facility ID
september_bookings_df = bookings_df.filter(
    (bookings_df.starttime >= "2012-09-01") & (bookings_df.starttime < "2012-10-01")
)

# Cast 'slots' to an integer before aggregating
bookings_count_df = september_bookings_df.withColumn("slots", col("slots").cast("int")).groupBy("facid").agg(
    sum("slots").alias("total_slots")
)

# Join with facilities to get the facility name, explicitly reference 'facid' columns
result_df = bookings_count_df.alias("bks").join(
    facilities_df.alias("fac"), 
    col("bks.facid") == col("fac.facid"), 
    "inner"
).select(
    col("bks.facid"), 
    col("fac.name"), 
    col("bks.total_slots")
).orderBy("bks.total_slots", ascending=False)

# Display the transformed data
# display(result_df)

# Save the result into a Parquet file
result_df.write.parquet("/FileStore/tables/total_slots_september_2012.parquet")

## ETL Job Two: Partitions

### Extract
Extract data from the managed tables (e.g. `bookings_csv`, `members_csv`, and `facilities_csv`)

### Transform
Transform the data https://pgexercises.com/questions/joins/threejoin.html

### Load
Partition the result data by facility column and then save to `threejoin_delta` managed table. Additionally, they are often tested in interviews.

hint: https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql/api/pyspark.sql.DataFrameWriter.partitionBy.html

What are paritions? 

Partitions are an important technique to optimize Spark queries
- https://www.youtube.com/watch?v=hvF7tY2-L3U&t=268s

In [0]:
# Write your solution here

# Extracting the data
bookings_df = spark.sql("SELECT * FROM bookings")
members_df = spark.sql("SELECT * FROM members")
facilities_df = spark.sql("SELECT * FROM facilities")

# Transforming the data
from pyspark.sql.functions import col, concat_ws

# Filtering booking for tennis courts
tennis_facility_df = facilities_df.filter(facilities_df.name.contains('Tennis'))

# Join bookings with members and tennis facilities
result2_df = bookings_df.join(members_df, bookings_df.memid == members_df.memid) \
    .join(tennis_facility_df, bookings_df.facid == tennis_facility_df.facid) \
    .select(
        concat_ws(", ", members_df.firstname, members_df.surname).alias("member_name"),
        tennis_facility_df["name"]  # Fixed: Reference "name" directly
    ) \
    .distinct()

# Sort by member name and facility name
result2_df = result2_df.orderBy("member_name", "name")

# Displaying the result (Optional for testing purposes)
display(result2_df)
  

# Partition the data by 'facility_name' and write to Delta managed table
result_df.write \
    .partitionBy("name") \
    .format("delta") \
    .mode("overwrite") \
    .saveAsTable("threejoin_delta")

member_name,name
"Anna, Mackenzie",Table Tennis
"Anne, Baker",Table Tennis
"Anne, Baker",Tennis Court 1
"Anne, Baker",Tennis Court 2
"Burton, Tracy",Table Tennis
"Burton, Tracy",Tennis Court 1
"Burton, Tracy",Tennis Court 2
"Charles, Owen",Table Tennis
"Charles, Owen",Tennis Court 1
"Charles, Owen",Tennis Court 2
"Darren, Smith",Table Tennis
"Darren, Smith",Tennis Court 2
"David, Farrell",Tennis Court 1
"David, Farrell",Tennis Court 2
"David, Jones",Table Tennis
"David, Jones",Tennis Court 1
"David, Jones",Tennis Court 2
"David, Pinker",Table Tennis
"David, Pinker",Tennis Court 1
"Douglas, Jones",Tennis Court 1
"Erica, Crumpet",Table Tennis
"Erica, Crumpet",Tennis Court 1
"Florence, Bader",Table Tennis
"Florence, Bader",Tennis Court 1
"Florence, Bader",Tennis Court 2
"GUEST, GUEST",Table Tennis
"GUEST, GUEST",Tennis Court 1
"GUEST, GUEST",Tennis Court 2
"Gerald, Butters",Table Tennis
"Gerald, Butters",Tennis Court 1
"Gerald, Butters",Tennis Court 2
"Henrietta, Rumney",Tennis Court 2
"Henry, Worthington-Smyth",Table Tennis
"Jack, Smith",Table Tennis
"Jack, Smith",Tennis Court 1
"Jack, Smith",Tennis Court 2
"Janice, Joplette",Table Tennis
"Janice, Joplette",Tennis Court 1
"Janice, Joplette",Tennis Court 2
"Jemima, Farrell",Table Tennis
"Jemima, Farrell",Tennis Court 1
"Jemima, Farrell",Tennis Court 2
"Joan, Coplin",Table Tennis
"Joan, Coplin",Tennis Court 1
"John, Hunt",Table Tennis
"John, Hunt",Tennis Court 1
"John, Hunt",Tennis Court 2
"Matthew, Genting",Table Tennis
"Matthew, Genting",Tennis Court 1
"Millicent, Purview",Table Tennis
"Millicent, Purview",Tennis Court 2
"Nancy, Dare",Table Tennis
"Nancy, Dare",Tennis Court 1
"Nancy, Dare",Tennis Court 2
"Ponder, Stibbons",Table Tennis
"Ponder, Stibbons",Tennis Court 1
"Ponder, Stibbons",Tennis Court 2
"Ramnaresh, Sarwin",Table Tennis
"Ramnaresh, Sarwin",Tennis Court 1
"Ramnaresh, Sarwin",Tennis Court 2
"Tim, Boothe",Table Tennis
"Tim, Boothe",Tennis Court 1
"Tim, Boothe",Tennis Court 2
"Tim, Rownam",Table Tennis
"Tim, Rownam",Tennis Court 1
"Tim, Rownam",Tennis Court 2
"Timothy, Baker",Table Tennis
"Timothy, Baker",Tennis Court 1
"Timothy, Baker",Tennis Court 2
"Tracy, Smith",Table Tennis
"Tracy, Smith",Tennis Court 1
"Tracy, Smith",Tennis Court 2

## ETL Job Three: HTTP Requests

### Extract
Extract daily stock price data price from the following companies, Google, Apple, Microsoft, and Tesla. 

Data Source
- API: https://rapidapi.com/alphavantage/api/alpha-vantage
- Endpoint: GET `TIME_SERIES_DAILY`

Sample HTTP request

```
curl --request GET \
	--url 'https://alpha-vantage.p.rapidapi.com/query?function=TIME_SERIES_DAILY&symbol=TSLA&outputsize=compact&datatype=json' \
	--header 'X-RapidAPI-Host: alpha-vantage.p.rapidapi.com' \
	--header 'X-RapidAPI-Key: [YOUR_KEY]'

```

Sample Python HTTP request

```
import requests

url = "https://alpha-vantage.p.rapidapi.com/query"

querystring = {
    "function":"TIME_SERIES_DAILY",
    "symbol":"IBM",
    "datatype":"json",
    "outputsize":"compact"
}

headers = {
    "X-RapidAPI-Host": "alpha-vantage.p.rapidapi.com",
    "X-RapidAPI-Key": "[YOUR_KEY]"
}

response = requests.get(url, headers=headers, params=querystring)

data = response.json()

# Now 'data' contains the daily time series data for "IBM"
```

### Transform
Find **weekly** max closing price for each company.

hints: 
  - Use a `for-loop` to get stock data for each company
  - Use the spark `union` operation to concat all data into one DF
  - create a new `week` column from the data column
  - use `group by` to calcualte max closing price

### Load
- Partition `DF` by company
- Load the DF in to a managed table called, `max_closing_price_weekly`

In [0]:
# Write your solution here

import requests
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, weekofyear, max as max_col, to_date

# Initialize Spark
spark = SparkSession.builder.appName("StockETL").getOrCreate()

# API details
url = "https://alpha-vantage.p.rapidapi.com/query"
headers = {
    "X-RapidAPI-Host": "alpha-vantage.p.rapidapi.com",
    "X-RapidAPI-Key": "65ed148c98mshe28b33adb9a585fp1bb3cbjsn51b126947fb7"
}

# List of companies
companies = ["GOOGL", "AAPL", "MSFT", "TSLA"]

# Extract and transform
all_data = []
for company in companies:
    querystring = {"function": "TIME_SERIES_DAILY", "symbol": company, "datatype": "json", "outputsize": "compact"}
    response = requests.get(url, headers=headers, params=querystring).json()
    print(response) 
    daily_data = response['Time Series (Daily)']
    df = spark.createDataFrame([
        (company, date, float(values['4. close']))
        for date, values in daily_data.items()
    ], ["company", "date", "closing_price"])
    all_data.append(df)

# Combine data
combined_df = all_data[0]
for df in all_data[1:]:
    combined_df = combined_df.union(df)

# Add week column and calculate max closing price
weekly_max_df = combined_df.withColumn("week", weekofyear(to_date(col("date")))) \
    .groupBy("company", "week").agg(max_col("closing_price").alias("max_closing_price"))

# Load to Delta table
weekly_max_df.write \
    .partitionBy("company") \
    .format("delta") \
    .mode("overwrite") \
    .saveAsTable("max_closing_price_weekly")

{'Meta Data': {'1. Information': 'Daily Prices (open, high, low, close) and Volumes', '2. Symbol': 'GOOGL', '3. Last Refreshed': '2025-03-28', '4. Output Size': 'Compact', '5. Time Zone': 'US/Eastern'}, 'Time Series (Daily)': {'2025-03-28': {'1. open': '160.4900', '2. high': '161.8200', '3. low': '153.6300', '4. close': '154.3300', '5. volume': '47801295'}, '2025-03-27': {'1. open': '164.6300', '2. high': '165.4200', '3. low': '162.0000', '4. close': '162.2400', '5. volume': '24508273'}, '2025-03-26': {'1. open': '169.0000', '2. high': '169.6100', '3. low': '164.8400', '4. close': '165.0600', '5. volume': '28939326'}, '2025-03-25': {'1. open': '168.9800', '2. high': '170.6300', '3. low': '168.3150', '4. close': '170.5600', '5. volume': '24174373'}, '2025-03-24': {'1. open': '167.0650', '2. high': '168.3200', '3. low': '165.1400', '4. close': '167.6800', '5. volume': '30879129'}, '2025-03-21': {'1. open': '161.2050', '2. high': '164.2400', '3. low': '160.8901', '4. close': '163.9900', '5. volume': '36625764'}, '2025-03-20': {'1. open': '161.5700', '2. high': '164.8900', '3. low': '160.9600', '4. close': '162.8000', '5. volume': '28138464'}, '2025-03-19': {'1. open': '161.7600', '2. high': '165.8700', '3. low': '161.0000', '4. close': '163.8900', '5. volume': '34275582'}, '2025-03-18': {'1. open': '163.6750', '2. high': '164.2500', '3. low': '156.7200', '4. close': '160.6700', '5. volume': '42074751'}, '2025-03-17': {'1. open': '165.0300', '2. high': '166.3000', '3. low': '163.6700', '4. close': '164.2900', '5. volume': '31184335'}, '2025-03-14': {'1. open': '163.2700', '2. high': '166.4900', '3. low': '162.4500', '4. close': '165.4900', '5. volume': '31995894'}, '2025-03-13': {'1. open': '166.0350', '2. high': '166.1300', '3. low': '162.1100', '4. close': '162.7600', '5. volume': '31756214'}, '2025-03-12': {'1. open': '166.5800', '2. high': '167.6399', '3. low': '163.5300', '4. close': '167.1100', '5. volume': '28372396'}, '2025-03-11': {'1. open': '164.9100', '2. high': '166.7500', '3. low': '161.3700', '4. close': '164.0400', '5. volume': '39587414'}, '2025-03-10': {'1. open': '168.2600', '2. high': '168.4600', '3. low': '163.6900', '4. close': '165.8700', '5. volume': '43377356'}, '2025-03-07': {'1. open': '171.2600', '2. high': '174.9700', '3. low': '170.2700', '4. close': '173.8600', '5. volume': '27385813'}, '2025-03-06': {'1. open': '170.5300', '2. high': '174.8100', '3. low': '170.5000', '4. close': '172.3500', '5. volume': '28301953'}, '2025-03-05': {'1. open': '170.5200', '2. high': '173.7800', '3. low': '169.0600', '4. close': '173.0200', '5. volume': '30954922'}, '2025-03-04': {'1. open': '166.2400', '2. high': '173.2946', '3. low': '165.8000', '4. close': '170.9200', '5. volume': '45387996'}, '2025-03-03': {'1. open': '171.9250', '2. high': '173.3700', '3. low': '165.9300', '4. close': '167.0100', '5. volume': '40770451'}, '2025-02-28': {'1. open': '168.6800', '2. high': '170.6100', '3. low': '166.7700', '4. close': '170.2800', '5. volume': '48130565'}, '2025-02-27': {'1. open': '173.9900', '2. high': '174.5600', '3. low': '167.9400', '4. close': '168.5000', '5. volume': '39991015'}, '2025-02-26': {'1. open': '175.0700', '2. high': '176.0800', '3. low': '171.5807', '4. close': '172.7300', '5. volume': '35431268'}, '2025-02-25': {'1. open': '178.0400', '2. high': '178.7400', '3. low': '174.6939', '4. close': '175.4200', '5. volume': '41913411'}, '2025-02-24': {'1. open': '181.9900', '2. high': '183.1200', '3. low': '178.8850', '4. close': '179.2500', '5. volume': '29854206'}, '2025-02-21': {'1. open': '185.1500', '2. high': '185.3400', '3. low': '179.0800', '4. close': '179.6600', '5. volume': '35199239'}, '2025-02-20': {'1. open': '184.8000', '2. high': '185.3100', '3. low': '182.7200', '4. close': '184.5600', '5. volume': '20441462'}, '2025-02-19': {'1. open': '184.0700', '2. high': '185.4600', '3. low': '183.5900', '4. close': '185.2700', '5. volume': '19549396'}, '2025-02-18': {'1. open': '185.6000', '2. high': '185.9600', '3. low': '181.7401', '4. close': '183.7700', '5. volume': '29916675'}, '2025-02-14': {'1. open': '185.0550', '2. high': '186.4000', '3. low': '184.3200', '4. close': '185.2300', '5. volume': '20448437'}, '2025-02-13': {'1. open': '184.3200', '2. high': '186.2800', '3. low': '183.1400', '4. close': '186.1400', '5. volume': '21402523'}, '2025-02-12': {'1. open': '183.2200', '2. high': '185.1100', '3. low': '181.8300', '4. close': '183.6100', '5. volume': '22072559'}, '2025-02-11': {'1. open': '185.0300', '2. high': '186.9400', '3. low': '184.2800', '4. close': '185.3200', '5. volume': '21239519'}, '2025-02-10': {'1. open': '187.3500', '2. high': '188.2000', '3. low': '185.8600', '4. close': '186.4700', '5. volume': '23105649'}, '2025-02-07': {'1. open': '191.0500', '2. high': '191.1800', '3. low': '183.2400', '4. close': '185.3400', '5. volume': '49314961'}, '2025-02-06': {'1. open': '189.5000', '2. high': '192.1000', '3. low': '188.7200', '4. close': '191.6000', '5. volume': '29297442'}, '2025-02-05': {'1. open': '191.0700', '2. high': '192.7500', '3. low': '188.0300', '4. close': '191.3300', '5. volume': '70461770'}, '2025-02-04': {'1. open': '203.3900', '2. high': '207.0500', '3. low': '202.8100', '4. close': '206.3800', '5. volume': '43856425'}, '2025-02-03': {'1. open': '200.6900', '2. high': '203.7500', '3. low': '200.1000', '4. close': '201.2300', '5. volume': '27838348'}, '2025-01-31': {'1. open': '202.0000', '2. high': '205.4800', '3. low': '201.8000', '4. close': '204.0200', '5. volume': '32041952'}, '2025-01-30': {'1. open': '198.0000', '2. high': '201.4000', '3. low': '197.6700', '4. close': '200.8700', '5. volume': '24354684'}, '2025-01-29': {'1. open': '195.5550', '2. high': '196.7850', '3. low': '193.4300', '4. close': '195.4100', '5. volume': '18218256'}, '2025-01-28': {'1. open': '192.7450', '2. high': '195.4800', '3. low': '190.6800', '4. close': '195.3000', '5. volume': '24157929'}, '2025-01-27': {'1. open': '192.4100', '2. high': '196.8800', '3. low': '190.7300', '4. close': '191.8100', '5. volume': '41728893'}, '2025-01-24': {'1. open': '198.1000', '2. high': '200.9000', '3. low': '198.0000', '4. close': '200.2100', '5. volume': '23877521'}, '2025-01-23': {'1. open': '198.1400', '2. high': '200.3000', '3. low': '195.2000', '4. close': '197.9800', '5. volume': '26951357'}, '2025-01-22': {'1. open': '199.0600', '2. high': '200.4800', '3. low': '197.5300', '4. close': '198.3700', '5. volume': '26200617'}, '2025-01-21': {'1. open': '199.0700', '2. high': '202.2900', '3. low': '197.8700', '4. close': '198.0500', '5. volume': '29971292'}, '2025-01-17': {'1. open': '196.5300', '2. high': '197.2300', '3. low': '193.7500', '4. close': '196.0000', '5. volume': '27735089'}, '2025-01-16': {'1. open': '194.1400', '2. high': '195.4800', '3. low': '192.8100', '4. close': '192.9100', '5. volume': '17815432'}, '2025-01-15': {'1. open': '193.0900', '2. high': '196.3600', '3. low': '191.8600', '4. close': '195.5500', '5. volume': '21775969'}, '2025-01-14': {'1. open': '191.2400', '2. high': '191.9800', '3. low': '188.3082', '4. close': '189.6600', '5. volume': '17174854'}, '2025-01-13': {'1. open': '190.0700', '2. high': '191.1800', '3. low': '187.3600', '4. close': '191.0100', '5. volume': '21823699'}, '2025-01-10': {'1. open': '194.2950', '2. high': '196.5200', '3. low': '190.3100', '4. close': '192.0400', '5. volume': '26665206'}, '2025-01-08': {'1. open': '192.5700', '2. high': '196.2900', '3. low': '192.3800', '4. close': '193.9500', '5. volume': '24864766'}, '2025-01-07': {'1. open': '197.1100', '2. high': '201.0000', '3. low': '194.6000', '4. close': '195.4900', '5. volume': '26487244'}, '2025-01-06': {'1. open': '193.9800', '2. high': '198.2222', '3. low': '193.8500', '4. close': '196.8700', '5. volume': '29563638'}, '2025-01-03': {'1. open': '191.3700', '2. high': '193.2100', '3. low': '189.9750', '4. close': '191.7900', '5. volume': '18596159'}, '2025-01-02': {'1. open': '190.6500', '2. high': '192.0000', '3. low': '187.5000', '4. close': '189.4300', '5. volume': '20370828'}, '2024-12-31': {'1. open': '191.0750', '2. high': '191.9600', '3. low': '188.5100', '4. close': '189.3000', '5. volume': '17466919'}, '2024-12-30': {'1. open': '189.8000', '2. high': '192.5500', '3. low': '189.1200', '4. close': '191.2400', '5. volume': '14264659'}, '2024-12-27': {'1. open': '194.9500', '2. high': '195.3200', '3. low': '190.6500', '4. close': '192.7600', '5. volume': '18891362'}, '2024-12-26': {'1. open': '195.1500', '2. high': '196.7480', '3. low': '194.3750', '4. close': '195.6000', '5. volume': '12057210'}, '2024-12-24': {'1. open': '194.8400', '2. high': '196.1100', '3. low': '193.7800', '4. close': '196.1100', '5. volume': '10403259'}, '2024-12-23': {'1. open': '192.6200', '2. high': '195.1000', '3. low': '190.1500', '4. close': '194.6300', '5. volume': '25675014'}, '2024-12-20': {'1. open': '185.7800', '2. high': '192.8900', '3. low': '185.2200', '4. close': '191.4100', '5. volume': '63462934'}, '2024-12-19': {'1. open': '191.6250', '2. high': '193.0300', '3. low': '188.3800', '4. close': '188.5100', '5. volume': '32265241'}, '2024-12-18': {'1. open': '195.2200', '2. high': '197.0000', '3. low': '187.7400', '4. close': '188.4000', '5. volume': '34166074'}, '2024-12-17': {'1. open': '197.2500', '2. high': '201.4200', '3. low': '194.9800', '4. close': '195.4200', '5. volume': '43504025'}, '2024-12-16': {'1. open': '192.8700', '2. high': '199.0000', '3. low': '192.6200', '4. close': '196.6600', '5. volume': '44934901'}, '2024-12-13': {'1. open': '191.0100', '2. high': '192.7300', '3. low': '189.6400', '4. close': '189.8200', '5. volume': '25143495'}, '2024-12-12': {'1. open': '195.0000', '2. high': '195.1800', '3. low': '191.7100', '4. close': '191.9600', '5. volume': '34817486'}, '2024-12-11': {'1. open': '185.3100', '2. high': '195.6100', '3. low': '184.8500', '4. close': '195.4000', '5. volume': '67894071'}, '2024-12-10': {'1. open': '182.8450', '2. high': '186.3600', '3. low': '181.0500', '4. close': '185.1700', '5. volume': '54813022'}, '2024-12-09': {'1. open': '173.9600', '2. high': '176.2600', '3. low': '173.6500', '4. close': '175.3700', '5. volume': '25389631'}, '2024-12-06': {'1. open': '172.0300', '2. high': '175.0800', '3. low': '171.8600', '4. close': '174.7100', '5. volume': '21462393'}, '2024-12-05': {'1. open': '175.3600', '2. high': '176.0600', '3. low': '172.3300', '4. close': '172.6400', '5. volume': '21356243'}, '2024-12-04': {'1. open': '171.1450', '2. high': '174.9100', '3. low': '171.0600', '4. close': '174.3700', '5. volume': '31615137'}, '2024-12-03': {'1. open': '171.4900', '2. high': '172.6800', '3. low': '170.8500', '4. close': '171.3400', '5. volume': '22248705'}, '2024-12-02': {'1. open': '168.7650', '2. high': '172.0750', '3. low': '168.5700', '4. close': '171.4900', '5. volume': '23789084'}, '2024-11-29': {'1. open': '168.5000', '2. high': '169.4300', '3. low': '167.1600', '4. close': '168.9500', '5. volume': '14257244'}, '2024-11-27': {'1. open': '169.0000', '2. high': '169.4832', '3. low': '168.0200', '4. close': '169.2300', '5. volume': '19266511'}, '2024-11-26': {'1. open': '167.6300', '2. high': '169.8200', '3. low': '167.5800', '4. close': '169.1200', '5. volume': '20486720'}, '2024-11-25': {'1. open': '166.0900', '2. high': '168.6300', '3. low': '165.6072', '4. close': '167.6500', '5. volume': '33135263'}, '2024-11-22': {'1. open': '165.8500', '2. high': '166.4600', '3. low': '163.9000', '4. close': '164.7600', '5. volume': '38604587'}, '2024-11-21': {'1. open': '173.9000', '2. high': '174.1300', '3. low': '163.7000', '4. close': '167.6300', '5. volume': '59734379'}, '2024-11-20': {'1. open': '177.3400', '2. high': '177.6750', '3. low': '173.7800', '4. close': '175.9800', '5. volume': '18997111'}, '2024-11-19': {'1. open': '173.7200', '2. high': '178.8700', '3. low': '173.5600', '4. close': '178.1200', '5. volume': '23434925'}, '2024-11-18': {'1. open': '173.4200', '2. high': '175.4380', '3. low': '172.9000', '4. close': '175.3000', '5. volume': '20206613'}, '2024-11-15': {'1. open': '173.7300', '2. high': '174.1400', '3. low': '171.2200', '4. close': '172.4900', '5. volume': '32504649'}, '2024-11-14': {'1. open': '178.2800', '2. high': '178.8200', '3. low': '174.3218', '4. close': '175.5800', '5. volume': '31007457'}, '2024-11-13': {'1. open': '180.4600', '2. high': '180.9600', '3. low': '178.5400', '4. close': '178.8800', '5. volume': '23184003'}, '2024-11-12': {'1. open': '179.8200', '2. high': '182.4900', '3. low': '179.3900', '4. close': '181.6200', '5. volume': '25134905'}, '2024-11-11': {'1. open': '178.5800', '2. high': '180.5450', '3. low': '178.4700', '4. close': '180.3500', '5. volume': '17450354'}, '2024-11-08': {'1. open': '180.6450', '2. high': '180.9000', '3. low': '178.0800', '4. close': '178.3500', '5. volume': '22006182'}, '2024-11-07': {'1. open': '177.4100', '2. high': '181.0800', '3. low': '177.1900', '4. close': '180.7500', '5. volume': '25352939'}, '2024-11-06': {'1. open': '173.8000', '2. high': '176.9400', '3. low': '173.5000', '4. close': '176.5100', '5. volume': '33695538'}, '2024-11-05': {'1. open': '169.4300', '2. high': '170.5300', '3. low': '168.8400', '4. close': '169.7400', '5. volume': '18242050'}, '2024-11-04': {'1. open': '169.9300', '2. high': '170.7300', '3. low': '168.0110', '4. close': '169.2400', '5. volume': '21492744'}, '2024-11-01': {'1. open': '170.0700', '2. high': '172.3200', '3. low': '168.8800', '4. close': '171.2900', '5. volume': '31796477'}}}

## ETL Job Four: RDBMS


### Extract
Extract RNA data from a public PostgreSQL database.

- https://rnacentral.org/help/public-database
- Extract 100 RNA records from the `rna` table (hint: use `limit` in your sql)
- hint: use `spark.read.jdbc` https://docs.databricks.com/external-data/jdbc.html

### Transform
We want to load the data as it so there is no transformation required.


### Load
Load the DF in to a managed table called, `rna_100_records`

In [0]:
# Write your solution here
# Extract
jdbc_url = "jdbc:postgresql://hh-pgsql-public.ebi.ac.uk:5432/pfmegrnargs"
properties = {
    "user": "reader",
    "password": "NWDMCE5xdipIjRrp",
    "driver": "org.postgresql.Driver"
}

query = "(SELECT * FROM rna LIMIT 100) AS rna_data"
rna_df = spark.read.jdbc(url=jdbc_url, table=query, properties=properties)

# Load
rna_df.write \
    .format("delta") \
    .mode("overwrite") \
    .saveAsTable("rna_100_records")